*{
    margin: 0;
    padding: 0;
}


.container{
    


    background-color: cornflowerblue;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 80px 50px;


}
.n{
    
    display: flex;
   
      grid-area:1 / 1/2/6 ;

    background-color: darkcyan;
    display:flex ;
    
 

gap: 40px;

}


.b{
    display: flex;
    flex-direction: column;
}

.imgg{
   
    background-color: rgb(51, 47, 38);
    display: flex;
    /* justify-content: space-between; */
        height: 30px;
    width: 30px;
    background-color: black;
}
